version: "3"
services:
  shdmongodb:
    build: ./mongodb
    image: robin/mongod:master
#    deploy:
#      replicas: 3
    volumes:
      - "./mongodb/conf.d:/usr/local/mongo/conf"
    environment:
      - mongorole=shardsvr
  configsrv: 
    build: ./configsrv
    image: robin/mongoconfigsrv:master
#    deploy:
#      replicas: 3
    volumes:
      - "./configsrv/conf.d:/usr/local/mongo/conf"
    environment:
      - mongorole=configsrv
  mongoos:
    build: ./mongoos
    image: robin/mongos:master
#    deploy:
#      replicas: 1
    volumes:
      - "./mongoos/conf.d:/usr/local/mongo/conf"
    environment:
       - mongorole=mongoos
    

